/* NOTAS:
La propiedad bottom permite desplazar un elemento respecto a su posición original 
tomando como referencia el borde inferior del elemento. Por su propia definición, 
esta propiedad sólo afecta a los elementos cuya propiedad position tenga un valor 
de relative, absolute o fixed.*/

*{margin: 0; padding: 0;}

body{
	background: #fffffa;
}

.formu{
	max-width: 60rem;
	background: #DFDFDF;
	margin: auto;
	padding: 50px;
	border-radius: 1.5rem;
	color: #1F618D;
	font-weight: bold;


	/*SOMBREADO POR DENTRO*/
	-webkit-box-shadow: inset -1px -1px 73px -22px rgba(0,0,0,0.47);
	-moz-box-shadow: inset -1px -1px 73px -22px rgba(0,0,0,0.47);
	box-shadow: inset -1px -1px 73px -22px rgba(0,0,0,0.47);

}

header{
	width: 100%;
	overflow: hidden;
	background:#2874A6;
	margin-bottom: 20px;
}

/*POSICIONAR ELEMENTOS DEL ENCABEZADO*/
.wrapper{
	width: 90%;
	max-width: 1000px;
	margin:auto;
	overflow: hidden;
}

header .logo{
	color:#f2f2f2;
	font-size: 50px;
	line-height: 100px;
	float: left;
}

/*MENÚ A LA DERECHA*/
header nav{
	float: right;
	line-height: 100px; 
}

/*ENCABEZADO FIJO CON EL SCROLL*/
header nav a{
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 20px;
	line-height: normal;
	font-size: 20px;
	font-weight: bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition: all 500ms ease;

}

header nav a:hover{
	background: #f56f3a;
	border-radius: 5px;
}

.header2{
	position: fixed;
	height: 100px;
}

.header2 .logo{
	line-height: 100px;
	font-size: 30px;
}

.header2 nav{
	line-height: 100px;
}


@media screen and (max-width: 960px){
	header .logo,
	header nav{
		width: 100%;
		text-align: center;
		line-height: 100px;
	}
	.header2{
		height: auto;
	}

	.header2 .logo,
	.header2 nav{
		line-height: 50px;
	}
}


footer {
	width: 100%;
	background:#2874A6;
	color:#fff;
	/*SE ADECUA EL PIE DE PÁGINA POR RESOLUCIÓN DE PANTALLA*/
	position: absolute;
	position: fixed;
	bottom: 0 !important;

}
 
footer p {
	text-align:center;
	padding-top: 13px;
	font-size: 0.9rem;

}



